<nav class="flex justify-between bb b--white-10 bg-white-90">
  <a class="link black-70 hover-white no-underline flex items-center ph3 pv1" href="/">
    Home
  </a>
  <a class="link black-70 hover-white no-underline flex items-center ph3 pv1" href="/small-box">
    Small Box
  </a>
  <a class="link black-70 hover-white no-underline flex items-center ph3 pv1" href="/apples-sansa">
    Apples Sansa
  </a>
</nav>
