<div class="w-100 bb bt bg-near-white mt1">
  <section class="mw8 mw10-ns center pa3 ph5-ns">
    <h1 class="mv0" id="product-title">&nbsp;</h1>
  </section>
</div>

<div id="product-overview" class="dn mt3 sans-serif center measure">
  <div class="w-100 vh-25 overflow-hidden">
    <img
      src=""
      id="product-image"
      class="br2"
    />
  </div>
  <div class="pa2 dt w-100 mb1">
      <span
        class="b black price-item price-item--regular" data-regular-price
        id="product-price"
        >
        {product.price}
      </span>
  </div>
  <div class="pa2 dt w-100 mb1">
    <p class="lh-copy" id="product-description">
    {product.description}
    </p>
      </span>
  </div>
</div>
