<section class="vh-100">
  <header class="tc ph5 lh-copy">
    <h1 class="f1 f-headline-l mb3 fw9 dib black-60">404</h1>
    <h2 class="tc f3-l fw1 black-80">Sorry, we can't find the page you are looking for.</h2>
  </header>
</section>
