<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="sans-serif w-100">

    <%- include('../partials/header'); %>

    <!-- open main content -->
    <main class="w-100 bg-white black-70 center">

    <%- include('../partials/product-overview'); %>

    <div class="ma1" id="app" />

    <script type="application/json" id="ProductJson-product-template">
{
  "id": 5571291381926,
  "title": "Apples Sansa 1kg",
  "handle": "garlic",
  "description": "\u003cp\u003eApples - Sansa - Ashley River Organics\u003c/p\u003e\n\u003cp\u003eSansa is an early ripening apple similar to Gala but with sightly more acidity.\u003c/p\u003e\n\u003cp\u003eFresh, juicy and crisp.\u003c/p\u003e\n\u003cp\u003eAdd it as an extra to your Veggie Box or Custom box order. \u003c/p\u003e",
  "published_at": "2020-08-05T14:45:19+12:00",
  "created_at": "2020-08-05T14:45:19+12:00",
  "vendor": "streamsideorganics",
  "type": "Box Produce",
  "tags": [],
  "price": 450,
  "price_min": 450,
  "price_max": 450,
  "available": true,
  "price_varies": false,
  "compare_at_price": null,
  "compare_at_price_min": 0,
  "compare_at_price_max": 0,
  "compare_at_price_varies": false,
  "variants": [
    {
      "id": 35541979529382,
      "title": "Default Title",
      "option1": "Default Title",
      "option2": null,
      "option3": null,
      "sku": "",
      "requires_shipping": true,
      "taxable": true,
      "featured_image": null,
      "available": true,
      "name": "Apples Sansa 1kg",
      "public_title": null,
      "options": ["Default Title"],
      "price": 450,
      "weight": 0,
      "compare_at_price": null,
      "inventory_management": "shopify",
      "barcode": "",
      "requires_selling_plan": false,
      "selling_plan_allocations": []
    }
  ],
  "images": [
    "//cdn.shopify.com/s/files/1/0446/3201/5014/products/IMG_2992.jpg?v=1612489170"
  ],
  "featured_image": "//cdn.shopify.com/s/files/1/0446/3201/5014/products/IMG_2992.jpg?v=1612489170",
  "options": ["Title"],
  "media": [
    {
      "alt": null,
      "id": 14783354142886,
      "position": 1,
      "preview_image": {
        "aspect_ratio": 1.333,
        "height": 768,
        "width": 1024,
        "src": "https://cdn.shopify.com/s/files/1/0446/3201/5014/products/IMG_2992.jpg?v=1612489170"
      },
      "aspect_ratio": 1.333,
      "height": 768,
      "media_type": "image",
      "src": "https://cdn.shopify.com/s/files/1/0446/3201/5014/products/IMG_2992.jpg?v=1612489170",
      "width": 1024
    }
  ],
  "requires_selling_plan": false,
  "selling_plan_groups": [],
  "content": "\u003cp\u003eApples - Sansa - Ashley River Organics\u003c/p\u003e\n\u003cp\u003eSansa is an early ripening apple similar to Gala but with sightly more acidity.\u003c/p\u003e\n\u003cp\u003eFresh, juicy and crisp.\u003c/p\u003e\n\u003cp\u003eAdd it as an extra to your Veggie Box or Custom box order. \u003c/p\u003e"
}
    </script>
    <script src="/product-description.js"></script>

    </main>
    <!-- close main content -->

    <%- include('../partials/footer'); %>

    <script src="/app.js"></script>
    <script src="/vendor.js"></script>
    <script>require('initialize');</script>

  </body>
</html>
